h1 {
    font-size: 75px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: #8296b0;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 75px;
    text-align: center;
}

.bold {
    font-weight: 900;
}
